---
import Panel from "../index.astro";
---

<Panel name="Display">
  <div class="row">
    <label>
      Accent Color
      <input type="color" id="accentColor" value="#00ffff" />
    </label>
  </div>

  <hr class="divider" />

  <div class="row">
    <label>
      <input type="checkbox" id="showLightcones" />
      Show Lightcones
    </label>
  </div>

  <div class="row">
    <label>
      <input type="checkbox" id="showGrid" />
      Show Grid
    </label>
  </div>

  <div class="row">
    <label>
      <input type="checkbox" id="showPresent" checked />
      Show Present Line
    </label>
  </div>

  <div class="row">
    <label>
      Present (t)
      <input type="number" id="presentTime" class="accentColor" value="0" step="0.1" />
    </label>
  </div>
</Panel>
