---
import Layout from "../layouts/Layout.astro";
import StatusBar from "../components/StatusBar.astro";
import Display from "../components/panels/flavors/Display.astro";
import Objects from "../components/panels/flavors/Objects.astro";
import Observer from "../components/panels/flavors/Observer.astro";
import "./style.css";
---

<Layout>
  <div id="app">
    <StatusBar panels={["display", "observer", "objects"]} />

    <div id="canvasWrapper">
      <canvas id="view"></canvas>
    </div>

    <Display />
    <Observer />
    <Objects />
  </div>
</Layout>

<script is:inline src="/spacetime/ui.js"></script>
<script is:inline src="/spacetime/spacetime.js"></script>
<script is:inline src="/spacetime/main.js"></script>
