---
import Layout from "../layouts/Layout.astro";
import StatusBar from "../components/StatusBar.astro";
import Appearance from "../components/panels/flavors/Appearance.astro";
import Objects from "../components/panels/flavors/Objects.astro";
import "./style.css";
---

<Layout>
  <div id="app">
    <StatusBar panels={["appearance", "objects"]} />

    <div id="canvasWrapper">
      <canvas id="view"></canvas>
    </div>

    <Appearance />
    <Objects />
  </div>
</Layout>

<script is:inline src="/spacetime/ui.js"></script>
<script is:inline src="/spacetime/spacetime.js"></script>
<script is:inline src="/spacetime/main.js"></script>
